@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel

<h1 class="text-center">Welcome to the coolest online bookstore ever!!!</h1>
<br /><br />


<h4>Page Num:</h4>
<!--Made some light styling here using bootstrap and divs-->
<h3><div page-model="@Model.PageInfo" page-action="Index" class="badge badge-pill badge-primary font-weight-bolder"></div> </h3>

<br />


<div class="text-center">

    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>
        <ul class="list-inline">
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>Category: @b.Category</li>
            <li>Classification: @b.Classification</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>ISBN: @b.Isbn</li>
            <li>Price: @b.Price</li>
        </ul>
        <br />
    }

</div>



<h4>Page Num:</h4>
<div page-model="@Model.PageInfo" page-action="Index"></div>
